<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239998286613-mn36oh991pkqduf1ohne65s41espk5m3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239998286613-mn36oh991pkqduf1ohne65s41espk5m3</string>
	<key>API_KEY</key>
	<string>AIzaSyCQn4md0zhjfNfjFrQm1UXK2b1_JrlAEuY</string>
	<key>GCM_SENDER_ID</key>
	<string>239998286613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>shopapp-50487</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-50487.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239998286613:ios:9573e7f492b40d7211471c</string>
	<key>DATABASE_URL</key>
	<string>https://shopapp-50487-default-rtdb.firebaseio.com</string>
</dict>
</plist>